@font-face {
  font-family: 'TestPilotBold';
  src: url(../fonts/'Test Pilot Collective - OCRK Bold Square.ttf');
}

@font-face {
  font-family: 'TestPilotLight';
  src: url(../fonts/'Test Pilot Collective - OCRK Light Square.ttf');
}