/* -------------------------------------------------
                    MIXIN
-------------------------------------------------- */

$primary: #2ba6cb;
@import 'mixins';
/* -------------------------------------------------
                    XPLORATION
-------------------------------------------------- */

body {
    background: #171717;
    color: #222;
    @include transition(background, 500ms, ease-out);
    &.ready {
        background: black;
    }
    .no-padding {
        padding: 0;
    }
}

.xploration-app {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow: hidden;
    .vidbg {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 0;
        @include transition(opacity, 500ms, ease-out);
        &.show {
            opacity: 1;
        }
        .vidbg-overlay {
            background: url(../images/bg.png) repeat;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
        }
        video {
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .view {
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        &.mission-selector {
            article.form {
                background: rgba(255, 255, 255, .8);
                padding: 50px;
                max-width: 960px;
                margin: auto;
                margin-top: 120px;
                @include borderRadius();
                @include transition(all, 250ms, ease-out);
                -webkit-filter: blur(2px);
                opacity: 0;
                &.show {
                    opacity: 1;
                    -webkit-filter: blur(0px);
                }
            }
        }
        &.mission-cube-builder {
            .off-canvas-wrap {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: visible;
                .inner-wrap {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            header {
                color: #222;
                height: 50px;
                width: 100%;
                background: rgba(255, 255, 255, .9);
                -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
                .select-categories {
                    margin-top: 6px;
                    width: 230px;
                    margin-right: 20px;
                    margin-left: 20px;
                    select {
                        margin-bottom: 0
                    }
                }
                .user-name p {
                    line-height: 50px;
                    font-size: 14px;
                    font-style: italic;
                    strong {
                        color: $primary;
                        text-transform: capitalize;
                    }
                    margin-right: 20px;
                }
                .off-canvas-toggle {
                    height: 50px;
                    margin: 0;
                    width: 50px;
                    padding: 0;
                    line-height: 50px;
                    display: block;
                }
                h5 {
                    font-size: 20px;
                    line-height: 50px;
                    margin: 0;
                    margin-left: 20px;
                    span {
                        font-weight: bold;
                        color: $primary;
                    }
                }
            }
            section.cubesat {
                position: absolute;
                top: 50px;
                left: 50px;
                right: 270px;
                bottom: 0;
                background: rgba(255, 255, 255, .1) url(../images/cubesat.png) no-repeat center center;
                @include transition(opacity, 1.5s, ease-out);
                opacity: 0;
                &.show {
                    opacity: 1;
                }
                .cube-structures {
                    margin: 5px auto;
                    text-align: center;
                }
                .component-position {
                    width: 330px;
                    height: 35px;
                    background: #aaa;
                    border-left: 10px solid #746a6a;
                    //margin-left: 20px;
                    margin-bottom: 10px;
                    font-size: 12px;
                    padding-left: 5px;
                    display: inline-block;
                    text-align: left;
                    &:first-child {
                        //margin-top: 40px;
                    }
                }
            }
            aside.components {
                position: absolute;
                right: 0;
                top: 50px;
                bottom: 0px;
                overflow: scroll;
                width: 270px;
                background: rgba(255, 255, 255, .8);
                ul {
                    margin: 0;
                    padding: 0;
                    display: none;
                    li.component {
                        position: relative;
                        list-style: none;
                        margin: 20px;
                        padding: 10px;
                        color: white;
                        font-size: 12px;
                        cursor: pointer;
                        background: rgba(20, 20, 20, .5);
                        border-right: 5px solid #333;
                        //@include borderRadius(5px);
                        //@include shadow();
                        .component-info {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            height: 25px;
                            @include borderRadius(100%);
                            margin: 0;
                            width: 25px;
                            padding: 0;
                        }
                    }
                }
            }
            aside.recap {
                width: 50px;
                padding-top: 10px;
                background: rgba(255, 255, 255, 0.9);
                position: absolute;
                top: 50px;
                bottom: 0;
                left: 0;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        list-style: none;
                        line-height: 1.2;
                        padding: 0;
                        margin: 0;
                        min-height: 50px;
                        margin-bottom: 20px;
                        text-align: center;
                        font-size: 20px;
                        .numbers {
                            font-weight: bold;
                            font-size: 12px;
                        }
                        &:first-child {
                            margin-top: 20px;
                        }
                        &.check-ok {
                            color: #5cae1f;
                        }
                        &.check-error {
                            color: #af0b0b;
                        }
                        i {
                            color: #222 !important;
                        }
                    }
                }
            }
        }
    }
}
