
/**
 * MIXINS
 */
@mixin borderRadius($size: 5px) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}

@mixin shadow($size:2px, $shadowColor: rgba(0, 0, 0, 0.2)) {
    -webkit-box-shadow: 0px 0px $size 0px $shadowColor;
    -moz-box-shadow: 0px 0px $size 0px $shadowColor;
    box-shadow: 0px 0px $size 0px $shadowColor;
}

@mixin border-shadow($size, $color) {
    -webkit-box-shadow: inset 0px 0px 0px $size $color;
    -moz-box-shadow: inset 0px 0px 0px $size $color;
    box-shadow: inset 0px 0px 0px $size $color;
}

@mixin transition($property: all, $time: 500ms, $ease: linear) {
    -webkit-transition: $property $time $ease;
    -moz-transition: $property $time $ease;
    -ms-transition: $property $time $ease;
    -o-transition: $property $time $ease;
    transition: $property $time $ease;
}
/**
 * DATAS
 */

body {
	background: #171717;
	@include transition(background, 500ms, ease-out);
	&.ready {
		background: #ececf0
	}
}
.xploration-app {
	position: absolute;
	margin:0;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: 1;
    .vidbg {
        position: absolute;
        width:100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }
    .view {
        z-index: 1;
    }
}