<ul>

  <!-- plug -->
  <li class="<% print(true ? 'check-ok' : 'check-error'); %>">
    <i class="fa fa-plug"></i><br />
    <span class="numbers"><%= power.value %>/<%= power.max %></span>
  </li>

  <!-- mass -->
  <li class="<% print(true ? 'check-ok' : 'check-error'); %>">
    <i class="fa fa-plug"></i><br />
    <span class="numbers"><%= mass.value %>/<%= mass.max %></span>
  </li>

  <!-- volume -->
  <li class="<% print(true ? 'check-ok' : 'check-error'); %>">
    <i class="fa fa-plug"></i><br />
    <span class="numbers"><%= volume.value %>/<%= volume.max %></span>
  </li>

  <!-- temp -->
  <li class="<% print(true ? 'check-ok' : 'check-error'); %>">
    <i class="fa fa-plug"></i><br />
    <span class="numbers"><%= temperature.valueMin %> - <%= temperature.valueMax %>/<%= temperature.min %> - <%= temperature.max %></span>
  </li>

</ul>