<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <header>
            <div class="left">
                <a class="button left-off-canvas-toggle off-canvas-toggle" id="toggle-sidebar"><i class="fa fa-bars"></i></a>
            </div>
            <div class="left">
                <h5><i class="fa fa-rocket"></i> Selected mission: <span><%= mission.nicename %></span></h5>
            </div>
            <div class="select-categories right">
				<select id="ul-selector" name="ul-selector">
					<option>Select component category</option>
                    <% for (var i = 0, keys = Object.keys(components); i < keys.length; i++) { %>
					   <option value="#list-<%= keys[i] %>"><%= keys[i] %></option>
                    <% } %>
				</select>
            </div>
            <div class="user-name right">
            	<p>Hello, <strong><%= name %></strong></p>
            </div>
            <div class="clearfix"></div>
        </header>
        <section class="cubesat">
        	<!-- PIPPO -->
        </section>
        <aside class="recap">
            <ul>
                <li class="check-ok">
                    <!-- Icon -->
                    <i class="fa fa-connectdevelop"></i>
                    <span class="numbers">10/50</span>
                </li>
                <li class="check-error">
                    <!-- Icon -->
                    <i class="fa fa-connectdevelop"></i>
                    <span class="numbers">10/50</span>
                </li>
            </ul>
        </aside>
        <!-- Off Canvas Menu -->
	    <aside class="left-off-canvas-menu">
	        <!-- whatever you want goes here -->
	        <ul>
	          <li><a href="#">Item 1</a></li>
	        ...
	        </ul>
	    </aside>
	    <aside class="components">

            <% for (var i = 0, keys = Object.keys(components); i < keys.length; i++) { %>
                <% var list = components[keys[i]]; %>
                <ul id="list-<%= keys[i] %>" class="component-list">
                    <% for (var j = 0; j < list.length; j++) { %>
                        <li class="component">
                        	<button class="component-info"><i class="fa fa-info-circle"></i></button>
                            <%= list[j].name %>
                        </li>
                    <% } %>
                </ul>
            <% } %>
	    </aside>
        <style>
            #launch-button {
                width: 150px;
                height: 50px;
                position: fixed;
                bottom: 20px;
                right: 400px;
                cursor: pointer;
            }
        </style>
        <button id="launch-button" class="button">LAUNCH!</button>
    </div>
</div>
