<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <header>
            <div class="left">
                <a class="button left-off-canvas-toggle off-canvas-toggle" id="toggle-sidebar"><i class="fa fa-bars"></i></a>
            </div>
            <div class="left">
                <h5><i class="fa fa-rocket"></i> Selected mission: <span>Mission Name</span></h5>
            </div>
            <div class="select-categories right">
				<select>
					<option>Select component category</option>
					<option val="">Component Category</option>
					<option val="">Component Category</option>
				</select>
            </div>
            <div class="user-name right">
            	<p>Hello, <strong>Remy</strong></p>
            </div>
            <div class="clearfix"></div>
        </header>
        <aside class="recap">
            <ul>
                <li class="check-ok">
                    <!-- Icon -->
                    <i class="fa fa-connectdevelop"></i>
                    <span class="numbers">10/50</span>
                </li>
                <li class="check-error">
                    <!-- Icon -->
                    <i class="fa fa-connectdevelop"></i>
                    <span class="numbers">10/50</span>
                </li>
            </ul>
        </aside>
        <!-- Off Canvas Menu -->
	    <aside class="left-off-canvas-menu">
	        <!-- whatever you want goes here -->
	        <ul>
	          <li><a href="#">Item 1</a></li>
	        ...
	        </ul>
	    </aside>
	    <aside class="components">
			<ul>
				<li class="component">
					
				</li>
			</ul>
	    </aside>
    </div>
</div>
